ul {
  list-style-type: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
}
img {
  width: 100%;
}