.box {
  color: #fff;
  padding: 2rem;
  max-width: 30rem;
  background: #1c48433d;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
}

.box:hover,
.box:focus-within {
  background: #111111;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
  transform: translateY(-0.5rem);
}

.box > * + * {
  margin-top: 1em;
}

.showModal {
  font: inherit;
  font-weight: 600;
  padding: 0.6rem 2rem;
  background: transparent;
  color: currentcolor;
  border: 1px solid;
  transition: background 100ms ease;
  position: static;
}

.showModal,
.showModal::before {
  cursor: pointer;
}

.showModal::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showModal:focus {
  outline: none;
}

.showModal:hover {
  background: #333333;
}

.showModal:focus::before {
  outline: 1px solid #ffffff;
  outline-offset: -0.8rem;
}





body{
  background-color: #1b2b34;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

ul {
  list-style-type: none;
}

blockquote {
  background: var(--background-alt)
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 2rem;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: all;
}

.card-header {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  /* background-color: var(--background-alt); */
  border-radius: var(--border-radius);
  box-shadow: var(--accent-shadow);
}

.card-header h1 {
  color: #fff;
  padding: 0.75rem 1rem;
  margin: 0;
  font-size: 1.2em;
}

.card ul {
  padding: 1rem;
  padding-bottom: 1rem;
}

.card li {
  display: flex;
}

.card li span {
  margin-left: auto;
}

.card details {
  position: relative;
  margin: auto 1rem 1rem;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.card details summary {
  padding: 0.5rem 1rem;
}

.card details > p {
  background-color: var(--background);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 200px;
  padding: 1rem;
  margin: 2px 0 0;
  border-radius: var(--border-radius);
  overflow-y: scroll;
  z-index: 1;
  box-shadow: var(--accent-shadow);
}

.card picture,
.modal-body picture {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.15);
  border: 1px solid rgba(0,0,0,.1);
}

.card img,
.modal-body img {
  object-fit: cover;
  opacity:.25;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
