.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

blockquote {
  background: var(--background-alt)
}

.flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.single-chart {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 250px;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: var(--background-alt);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: var(--primary);
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
