  .modal {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 9000;
    transition: opacity 1s ease-out, visibility 1s ease-out, transform 1s ease-in;
    font-size: 1rem;
    visibility: hidden;
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }

  .modal-content {
    background: #222;
    color: #fff;
    width: 100vw;
    height: 100vh;
    border-radius: 0.2em;
    position: relative;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
  }

  .modal-content img {
    max-width: 100%;
    border-radius: 0.2em;
  }

  .modal-header {
    padding: 10px;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-heading {
    margin: 0;
    font-size: 1.5em;
  }

  .modal-heading + .modal-close-icon {
    position: static;
  }

  .modal-body {
    padding: 20px;
    overflow: auto;
  }

  .modal-close-btn,
  .modal-close-icon {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10rem;
    background: red;
    font-size: 1.5em;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .modal-close-btn:hover,
  .modal-close-icon:hover {
    opacity: 0.9;
  }

  .modal-close-icon {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .modal-close-btn {
    font-size: 1.3em;
    line-height: 1.4;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  @media print, (prefers-reduced-motion: reduce) {
    .animated {
      animation-duration: 1ms !important;
      transition-duration: 1ms !important;
      animation-iteration-count: 1 !important;
    }

    .animated[class*='Out'] {
      opacity: 0;
    }
  }
