<header>
    <nav>
        <ul style="display: flex; flex: 0 1; flex-direction: row;">
            <li style="display: flex; flex: 0 1; flex-direction: row;">
                <label for="order" style="align-self: center">
                    Order:
                </label>
                <select id="order" style="align-self: center; min-width: 100px">
                    <option disabled="disabled" selected="selected">Added</option>
                </select>
            </li>
            <li style="display: flex; flex: 0 1; flex-direction: row;">
                <label for="direction" style="align-self: center">
                    Direction:
                </label>
                <select id="direction" style="align-self: center; min-width: 80px">
                    <option disabled="disabled" selected="selected">Desc</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
