<header>
  <nav>
    <ul style="display: flex; flex: 1 0; flex-direction: inherit; flex-wrap: wrap; justify-content: center;">
      <li>
        <label for="order">
          Order:
        </label>
        <select id="order">
          <option disabled="disabled" selected="selected">Added</option>
        </select>
      </li>
      <li>
        <label for="direction">
          Direction:
        </label>
        <select id="direction">
          <option disabled="disabled" selected="selected">Desc</option>
        </select>
      </li>
    </ul>
  </nav>
</header>
