<header>
    <nav>
        <ul style="display: flex; flex: 0 1; flex-direction: row;">
            <li style="display: flex; flex: 0 1; flex-direction: row;">
                <div style="align-self: center">
                    Order:
                </div>
                <select style="align-self: center">
                    <option disabled="disabled" selected="selected">Added</option>
                </select>
            </li>
            <li style="display: flex; flex: 0 1; flex-direction: row;">
                <div style="align-self: center">
                    Direction:
                </div>
                <select style="align-self: center">
                    <option disabled="disabled" selected="selected">Desc</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
