<template id="modal-template">
  <div id="modal-container">
    <div class="modal-background">
      <div class="modal">
        <div class="single-top">
          <div class="single-preview">
            <div class="single-image">
              <img loading="lazy" src="/images/theme/full/themeforest-smarthome.jpg" alt="Smarthome screenshot">
            </div>
            <div class="single-bottom">
              <div class="content">
                <p>Sj SmartHome is a clean &amp; flexible smart home Joomla template which fits a wide range of websites. Specially, this Joomla template is applicable for smart home automation services, smart home devices, home security solutions and technologies and other digital, technology website types. Sj SmartHome offers a various options and features which help you easily build a beautiful and professional website.</p>
                <p>Sj SmartHome technology Joomla template bases on VirtueMart 3 component, then it comes with lots of advanced eCommerce features and functions such as: Ajax Filter for VirtueMart, Mini Cart Pro module, Product Quickview for VirtueMart, Ajax Add to Cart… This business Joomla template is responsive design, it looks great on tablets and mobile devices. With high-quality code, detailed documentation and Full Quickstart Package included, you can quickly setup your website just in minutes without much coding knowledge.</p>
              </div>
            </div>
          </div>
          <div class="single-info">
            <div class="single-heading">
              <div>
                <h1>Smarthome</h1>
                <span class="single-by-provider">
                  by
                  <a class="link-provider" href="https://themeforest.net/" target="_blank">
                    ThemeForest
                  </a>
                </span>
              </div>
              <div class="single-buttons">
                <a class="button" href="https://themeforest.net/item/smarthome-smart-home-automation-technologies-joomla-template/28174838" target="_blank" rel="nofollow noopener">More Info</a>
                <a class="button" href="https://demo.smartaddons.com/templates/joomla3/sj-smarthome/index.php/en/" target="_blank" rel="nofollow noopener">Live Demo</a>
              </div>
              <p class="theme-detail-summary">Sj SmartHome is a clean &amp; flexible smart home Joomla template which fits a wide range of websites.</p>
            </div>
            <div class="audits">
              <div class="payment-options single-card">
                <div class="payment-options-item">
                  Available as part of a membership plan
                  <div class="payment-options-price">€14.50/m</div>
                </div>
                <div class="payment-options-item">
                  Available as a single purchase
                  <div class="payment-options-price">€39 - €79</div>
                </div>
              </div>
              <div class="lighthouse single-card">
                <div class="lighthouse-header single-card-header">Demo Lighthouse Audit</div>
                <div class="lighthouse-items">
                  <div class="lighthouse-item lighthouse-red">
                    <h4 class="lighthouse-item-title">Performance</h4>
                    <svg viewbox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                      <circle class="lighthouse-item-circle-bg" stroke-width="0" cx="50%" cy="50%" r="17" style="stroke: white;"></circle>
                      <circle class="lighthouse-item-highlight" stroke-width="2.5" stroke-linecap="round" stroke-dasharray="0,100" fill="none" cx="50%" cy="50%" r="15.9" transition-delay="600" style="stroke: ;"></circle>
                      <g class="lighthouse-item-value" transition-delay="600">
                        <text class="circle-chart__percent" x="17" y="22" text-anchor="middle" font-size="14">0</text>
                      </g>
                    </svg>
                  </div>
                  <div class="lighthouse-item lighthouse-green">
                    <h4 class="lighthouse-item-title">Accessibility</h4>
                    <svg viewbox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                      <circle class="lighthouse-item-circle-bg" stroke-width="0" cx="50%" cy="50%" r="17" style="stroke: white;"></circle>
                      <circle class="lighthouse-item-highlight" stroke-width="2.5" stroke-linecap="round" stroke-dasharray="95,100" fill="none" cx="50%" cy="50%" r="15.9" transition-delay="600" style="stroke: ;"></circle>
                      <g class="lighthouse-item-value" transition-delay="600">
                        <text class="circle-chart__percent" x="17" y="22" text-anchor="middle" font-size="14">95</text>
                      </g>
                    </svg>
                  </div>
                  <div class="lighthouse-item lighthouse-orange">
                    <h4 class="lighthouse-item-title">Best Practices</h4>
                    <svg viewbox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                      <circle class="lighthouse-item-circle-bg" stroke-width="0" cx="50%" cy="50%" r="17" style="stroke: white;"></circle>
                      <circle class="lighthouse-item-highlight" stroke-width="2.5" stroke-linecap="round" stroke-dasharray="79,100" fill="none" cx="50%" cy="50%" r="15.9" transition-delay="600" style="stroke: ;"></circle>
                      <g class="lighthouse-item-value" transition-delay="600">
                        <text class="circle-chart__percent" x="17" y="22" text-anchor="middle" font-size="14">79</text>
                      </g>
                    </svg>
                  </div>
                  <div class="lighthouse-item lighthouse-orange">
                    <h4 class="lighthouse-item-title">SEO</h4>
                    <svg viewbox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                      <circle class="lighthouse-item-circle-bg" stroke-width="0" cx="50%" cy="50%" r="17" style="stroke: white;"></circle>
                      <circle class="lighthouse-item-highlight" stroke-width="2.5" stroke-linecap="round" stroke-dasharray="84,100" fill="none" cx="50%" cy="50%" r="15.9" transition-delay="600" style="stroke: ;"></circle>
                      <g class="lighthouse-item-value" transition-delay="600">
                        <text class="circle-chart__percent" x="17" y="22" text-anchor="middle" font-size="14">84</text>
                      </g>
                    </svg>
                  </div>

                </div>
              </div>

              <div class=" lh-score__label">
                <div class="lh-score-card__legend">
                  <span>Score scale:</span>
                  <span class="lh-score-card__range lh-score--fail" data-first="">
                    0-49
                  </span>
                  <span class="lh-score-card__range lh-score--average">50-84</span>
                  <span class="lh-score-card__range lh-score--pass">85-100</span>
                </div>
              </div>

              <div class="carbon single-card">
                <div class="carbon-header single-card-header">Demo Carbon Audit</div>
                <div class="carbon-item">
                  <h3>
                    According to
                    <a href="https://www.websitecarbon.com/" target="_blank">websitecarbon.com</a>,
                    <strong>0.337g</strong>
                    of CO2 is produced every time someone visits the landing page of this template
                    <a href="https://www.websitecarbon.com/how-does-it-work/">[Learn More]</a>
                  </h3>
                </div>
              </div>
            </div>

          </div>
        </div>
        <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveaspectratio="none">
          <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
        </svg>
      </div>
    </div>
  </div>
</template>
<style>
  body.modal-active {
    overflow: hidden;
  }

  #modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
  }
  #modal-container {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container .modal-background .modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  #modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
  }
  #modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }

  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @keyframes fadeOut {
    0% {
      background: rgba(0, 0, 0, 0.7);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes scaleBack {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.85);
    }
  }
  @keyframes scaleForward {
    0% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes slideUpLarge {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes slideDownLarge {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes moveUp {
    0% {
      transform: translateY(150px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes moveDown {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(150px);
    }
  }
  @keyframes blowUpContent {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    99.9% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes blowUpContentTwo {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes blowUpModal {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes blowUpModalTwo {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes roadRunnerIn {
    0% {
      transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform: translateX(30px) skewX(0deg) scaleX(0.9);
    }
    100% {
      transform: translateX(0px) skewX(0deg) scaleX(1);
    }
  }
  @keyframes roadRunnerOut {
    0% {
      transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
      transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    }
    100% {
      transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
  }
  @keyframes sketchIn {
    0% {
      stroke-dashoffset: 778;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes sketchOut {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 778;
    }
  }
  @keyframes modalFadeIn {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: white;
    }
  }
  @keyframes modalFadeOut {
    0% {
      background-color: white;
    }
    100% {
      background-color: transparent;
    }
  }
  @keyframes modalContentFadeIn {
    0% {
      opacity: 0;
      top: -20px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes modalContentFadeOut {
    0% {
      opacity: 1;
      top: 0;
    }
    100% {
      opacity: 0;
      top: -20px;
    }
  }
  @keyframes bondJamesBond {
    0% {
      transform: translateX(1000px);
    }
    80% {
      transform: translateX(0px);
      border-radius: 75px;
      height: 75px;
      width: 75px;
    }
    90% {
      border-radius: 3px;
      height: 182px;
      width: 247px;
    }
    100% {
      border-radius: 3px;
      height: 162px;
      width: 227px;
    }
  }
  @keyframes killShot {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(300px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fadeToRed {
    0% {
      background-color: rgba(0, 0, 0, 0.6);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.8);
    }
  }
  @keyframes slowFade {
    0% {
      opacity: 1;
    }
    99.9% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
</style>
