<div id="modal"></div>
<style>
  .light-modal {
    --lm-body-bg: var(--background);
    --lm-modal-bg: #000000;
    --lm-close-bg: blue;
    --lm-small-modal: 30vw;
    --lm-large-modal: 100vw;
    --lm-font-size: 14px;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 9000;
    transition: background 1s;
    font-size: var(--lm-font-size);
    visibility: hidden;
  }

  .light-modal-content {
    background: var(--lm-body-bg);
    color: #000;
    width: var(--lm-large-modal);
    height: 100vh;
    border-radius: 0.2em;
    position: relative;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
  }

  .light-modal-content img {
    max-width: 100%;
    border-radius: 0.2em;
  }

  .light-modal-content.large-content {
    width: var(--lm-large-modal);
  }

  .light-modal-header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .light-modal-heading {
    margin: 0;
    font-size: 1.5em;
  }

  .light-modal-heading + .light-modal-close-icon {
    position: static;
  }

  .light-modal-body {
    padding: 20px;
    overflow: auto;
    max-height: 450px;
  }

  .light-modal-footer {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    display: flex;
    align-items: center;
  }

  .light-modal-close-btn,
  .light-modal-close-icon {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0.2em;
    background: var(--lm-close-bg);
    font-size: 1.5em;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .light-modal-close-btn:hover,
  .light-modal-close-icon:hover {
    opacity: 0.9;
  }

  .light-modal-close-icon {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .light-modal-close-btn {
    font-size: 1.3em;
    line-height: 1.4;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .animated {
    animation-duration: 0.4s;
    animation-fill-mode: both;
  }

  .fadeInUp {
    animation-name: fadeInUp;
  }

  @media print, (prefers-reduced-motion: reduce) {
    .animated {
      animation-duration: 1ms !important;
      transition-duration: 1ms !important;
      animation-iteration-count: 1 !important;
    }

    .animated[class*='Out'] {
      opacity: 0;
    }
  }
</style>
